@{
    ViewBag.Title = "Home Page";
}

<div class="centered">
    <img src="~/Images/auction.jpeg" />
</div>

<div class="jumbotron">
    <h1>IEP Project</h1>
    <p class="lead">IEP Project is a free web auction service.</p>
</div>
